.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.titulo {
    color: var(--greenTitleAndViewProfiles);
}



@media (max-width: 600px) {
    .container .gridItem {
        border-radius: 8px;
        height: 80px;
        max-width: 300px;
    }
    .container .gridItem span {
        font-size: 1rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titulo {
        font-size: 1.5rem;
    }
}