.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    padding: 0 2rem 2rem 2rem;
    max-width: 20rem;
    margin: 50px auto;
    border-radius: 32px;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.formulario .titulo {
    color: var(--greenTitleAndViewProfiles);
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center; 
    margin: 2rem 0 1rem 0;
}

.formulario input{
    width: 100%; /* Tornando os inputs responsivos */
    max-width: 300px; /* Definindo uma largura máxima para os inputs */
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--greenButtonAndIconAndToast);
    text-align: center;
}

.formulario input:focus {
    outline: none; /* Remover o outline padrão no foco */
}

.formulario div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario .descricao {
    color: #005C24;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 10px 0;
    align-self: flex-start;
}

.inputError {
    border: 1px solid red;
}

.errorPlaceholder {
    height: 20px; /* Altura reservada para a mensagem de erro */
    margin: 0;
    padding: 0;
    color: transparent; /* Invisível por padrão */
    transition: color 0.3s;
}

.errorVisible {
    color: red; /* Mensagem de erro visível */
}

.formulario .criar {
    background-color: var(--greenButtonAndIconAndToast);
    color: white;
    border: none;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
}

.criar:hover {
    background-color: var(--greenTitleAndViewProfiles);
}

@media (max-width: 450px) {
    .formulario {
        margin-top: 6rem;
        box-shadow: none;
        max-width: 22rem;
    }
    .formulario .criar {
        margin-top: 1rem;
        width: 12rem;
        font-size: 1.25rem;
        padding: 1rem;
    }
    .formulario .titulo {
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }
    .formulario input {
        font-size: 1.25rem;
    }
    .formulario div .descricao {
        font-size: 1.25rem;
    }
}