.headerbg {
  background: var(--greenBackgroundLoginAndHeader);
}

.header {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 4rem;
  margin: 0 0.625rem;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  margin: 0 10px;
}

.navLink {
  text-decoration: none;
  color: var(--white);
  position: relative;
  font-size: 1.25rem;
}

.navLink.active::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: growBar 0.5s forwards;
}

@keyframes growBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user .userName {
  color: white;
  font-size: 1.25rem;
  padding: 0.625rem;
}

.user .userName .indicator {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: white;
  transition: transform 0.3s ease;
}

.user .userName .open {
  transform: rotate(180deg);
}

.user .dropdown {
  display: block; /* Alterado de 'none' para 'block' para permitir animação */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 160px;
  max-height: 0; /* Inicia com altura zero */
  overflow: hidden;
  opacity: 0; /* Inicia com opacidade zero */
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Transições para altura e opacidade */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.user .dropdown.show {
  max-height: 200px; /* Ajuste conforme necessário */
  opacity: 1;
}

.user .dropdown button {
  color: var(--greenBackgroundLoginAndHeader);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.user .dropdown button:hover {
  background-color: #ddd;
  transition: background-color 0.3s;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.menuOverlay.show {
  display: block;
}

.navMobile {
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background: var(--greenBackgroundLoginAndHeader);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  transition: left 0.3s ease;
  z-index: 1000;
}

.navMobile.showMenu {
  left: 0; /* Slide in */
}

.navListMobile {
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.navLinkMobile {
  color: var(--white);
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1.25rem;
}

.header {
  position: relative;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .menuButton {
    display: block;
    padding: 0;
    width: 1rem;
    margin-left: 2rem;
  }
  .user {
    margin-right: 1rem;
  }
  .navDesktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .menuButton {
    display: none;
  }
  .navMobile {
    display: none;
  }
}