.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    padding: 0 2rem 2rem 2rem;
    max-width: 20rem;
    margin: 50px auto;
    border-radius: 32px;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.formulario .tituloFuncao {
    color: var(--greenTitleAndViewProfiles);
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center; 
    margin: 2rem 0 1rem 0;
}

.formulario .nomeModulo {
    color: var(--greenButtonAndIconAndToast);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}

.formulario .nomeModulo::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--greenButtonAndIconAndToast); 
    margin: 0 auto;
    margin-top: 5px; /* Espaçamento entre o texto e a linha */
}

.formulario .nomesContainer .nomeFuncao{
    width: 100%; /* Tornando os inputs responsivos */
    max-width: 300px; /* Definindo uma largura máxima para os inputs */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #19A851;
    text-align: center;
}

.formulario .nomesContainer p {
    text-align: center;
}

.formulario .nomesContainer .nomeFuncao:focus {
    outline: none; /* Remover o outline padrão no foco */
}

.nomesContainer, .descricaoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.descricao {
    color: #005C24;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 10px 0;
    align-self: flex-start;
}

.inputError {
    border: 1px solid red;
}

.errorPlaceholder {
    height: 20px; /* Altura reservada para a mensagem de erro */
    margin: 0;
    padding: 0;
    color: transparent; /* Invisível por padrão */
    transition: color 0.3s;
}

.errorVisible {
    color: red; /* Mensagem de erro visível */
}

@media (max-width: 450px) {
    .formulario {
        margin-top: 6rem;
        box-shadow: none;
        max-width: 22rem;
    }
    .formulario button {
        margin-top: 2rem;
        width: 12rem;
        font-size: 1.25rem;
        padding: 1rem;
    }
    .formulario .titulo {
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }
    .formulario .nomesContainer .nomeModulo,
    .formulario .nomesContainer .nomeFuncao {
        font-size: 1.25rem;
    }
    .formulario .descricaoContainer .descricao {
        font-size: 1.25rem;
    }
}