h1 {
    text-align: center;
    margin-top: 80px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 960px;
    margin: 80px auto;
    justify-items: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center;
    gap: 16px;
}

.container .gridItem {
    height: 208px;
    /* max-width: 220px; */
    width: 100%;
    max-width: 228px;
    max-height: 208px;
    display: flex;
    background: var(--card1);
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; 
    border-radius: 32px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container .gridItem:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do card */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona sombra para dar destaque */
}

.container .gridItem span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--greenTitleAndViewProfiles);
    text-align: center;
    width: 90%;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container .gridItem {
       max-width: 120px;
        max-height: 120px;
        display: flex;
        background: var(--card1);
        justify-content: center; /* Alinha horizontalmente ao centro */
        align-items: center; 
        border-radius: 32px;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .container .gridItem span {
        font-size: 1rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 80px 50px;
    }
    .titulo {
        font-size: 1.5rem;
    }
}